@import "../includes/responsive";

.account-page-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D7E8EF;
    padding-bottom: 12px;
    margin-bottom: 30px;
    @include media("<=991px") {
        border-bottom: 0;
        padding-bottom: 0;
    }

    .account-edit-icon {
        @include media("<=991px") {
            display: none;
        }
    }

    .account-page-title {
        p {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #175067;
            margin-bottom: 0;
            @include media("<=991px") {
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
                color: #282A2C;
            }
            @include media("<=576px") {
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #282A2C;
            }
        }
    }
}

.account-settings-content {
    margin-bottom: 30px;

    label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #737373;
        margin-bottom: 12px;
        @include media("<=576px") {
            font-size: 12px;
            line-height: 18px;
            color: #737373;
            margin-bottom: 7px;
        }
    }

    p {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: -0.01em;
        color: #303E49;
        margin-bottom: 0;
        @include media("<=576px") {
            font-weight: 500;
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: #303E49;
        }
    }

    .change-content-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .change-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: #FB8B24;
        @include media("<=991px") {
            padding: 5px 21px;
            background: #D7E8EF;
            border-radius: 3px;
            font-size: 14px;
            line-height: 18px;
            color: #175067;
        }
        @include media("<=576px") {
            font-size: 12px;
        }
    }
}

//single address box
.single-address-box {
    height: 150px;
    width: 100%;
    //height: 100%;
    padding: 24px;
    border: 1px solid #ECD3B1;
    border-radius: 10px;

    .single-address-box-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .address-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            color: #737373;
            @include media("<=576px") {
                font-size: 12px;
            }
        }
    }

    .address-box-content {
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            letter-spacing: -0.01em;
            color: #303E49;
            margin-bottom: 0;
            @include media("<=576px") {
                font-size: 13px;
            }
        }
    }

    .address-box-add-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            color: #737373;
        }
    }
}

.address-container {
    @include media("<=991px") {
        background: #F8FCFD;
        border-radius: 5px;
        padding: 24px 16px;
    }
}

.change-name-content {
    display: flex;
    align-items: center;
    gap: 1rem;

    .change-text {
        display: none;
    }

    @include media("<=991px") {
        .change-text {
            display: block;
        }
    }
}

@include media("<=991px") {
    .add-new-box {
        display: none;
    }
}

.edit-address-button {
    display: none;
    @include media("<=991px") {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #D7E8EF;
        border-radius: 3px;
        width: 117px;
        height: 28px;
        font-weight: 500;
        font-size: 12px;
        color: #175067;
        text-decoration: none;
        margin-top: 24px;
        margin-left: auto;
    }
}

.create-account-button {
    display: none;
    @include media("<=991px") {
        display: block;
    }
}


//==================//
//Address form start//
//===============//

.address_header{
    border-bottom: 1px solid #D7E8EF;
    margin-bottom: 30px;
    .address_form_title{
        color: #175067;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 5px;
    }
    p{
        color: #7C7C7C;
        font-size: 16px;
    }
}

.address_submit_wrapper{
    margin-bottom: 80px;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        height: 48px;
        width: 100%;
        color: #175067;
        border: 1px solid #175067;
        text-decoration: none;
        border-radius: 5px;
    }
    button{
        color: #F8F8F8 !important;
        @extend a;
        background: #175067;
        border: none;
    }
}
.photo_upload_button{
    width: 169px;
    height: 44px;
    background: #175067;
    font-weight: 500;
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    img{
        margin-right: 12px;
    }
}
.name_submit_button{
    width: 100%;
    display: flex;
    button{
        width: 100%;
        color: #F8F8F8;
        font-weight: 600;
        border: none;
        font-size: 16px;
        height: 48px;
        background: #175067;
        border-radius: 5px;
        margin-top: 12px;
    }
}
.info_section_break{
    border: 1px solid #D7E8EF;
    margin: 32px 0;
}

//========//
//Select 2 customization
//=======//

.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 48px !important;
}
.select2-container--default .select2-selection--single{
    height: 100% !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{

    border-radius: 4px !important;
    background: transparent !important;
    padding-left: 24px !important;
    height: 48px !important;
    display: flex !important;
    align-items: center !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px !important;
    position: absolute !important;
    top: 50% !important;
    right: 1px !important;
    width: 20px !important;
    transform: translate(-50%,-50%) !important;
}

.select2-container--default .select2-selection--single{
    border: 1px solid #D7E8EF !important;
}



.phone-input-wrapper{
    input::-webkit-outer-spin-button,::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}
