@import "../includes/responsive";

.payment-method-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media("<=576px") {
        font-weight: 600;
        font-size: 15px;
        line-height: 22px;
        color: #282A2C;
    }

    .add-payment-button {
        display: none;
        @include media("<=991px") {
            display: block;
        }
    }
}

.payment-card-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    @include media("<=991px") {
        display: flex;
        gap: 30px;
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }

    .single-payment-card {
        width: 321.33px;
        height: 190px;
        border: 1px solid #D7E8EF;
        border-radius: 10px;
        padding: 24px;
        background: #fff;

        &.add-card {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #F7F7F7;
            @include media("<=991px") {
                //display: none;
            }
        }

        &.active {
            background: #FAF7F7;
        }

        .single-payment-card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 45px;

            .card-name {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #737373;
            }
        }

        .payment-card-body {
            margin-bottom: 21px;
            display: flex;
            align-items: center;
            gap: 10px;

            .card-digit {
                color: #303E49;
                font-weight: 600;
                font-size: 18px;
            }
        }

        .payment-card-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

.billing-history {
    .table {
        border-collapse: separate;
        border-spacing: 0 18px;
    }

    thead {
        background: #F7F7F7;

        tr {
            th {
                color: #737373;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }

    tbody {
        tr {
            td {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #303E49;

                strong {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #303E49;
                }

                a {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    text-decoration: none;
                    color: #175067;
                }
            }
        }
    }
}

.res-single-table-content {
    display: none;
}

@include media("<=991px") {
    .res-single-table-content {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 3rem;
        border-bottom: 1px solid rgba(102, 112, 133, 0.2);

        .res-single-table-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .res-single-date {
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                color: #303E49;
            }

            .res-single-price {
                font-weight: 600;
                font-size: 15px;
                line-height: 22px;
                color: #303E49;
            }
        }
    }
    .res-table-body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .res-plan-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #303E49;
        }

        .res-plan-download {
            a {
                font-weight: 400;
                font-size: 15px;
                line-height: 22px;
                text-decoration: none;
                color: #175067;
            }
        }
    }
}

.payment-card-wrapper
{
    [type=radio]{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    .selected-sign{
        opacity: 0;
    }

    [type=radio]:checked + .selected-sign {
        opacity: 1;
    }

}
