@import "../includes/responsive";
.add-device-wrapper {
    .add-device-title {
        margin-bottom: 2rem;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #175067;
    }
}

.single-card-wrapper {
    @include media("<=991px") {
        margin-bottom: 24px;
        height: 113px;
        padding: 16px;
    }
    height: 100%;
    border: 1px solid #ecd3b1;
    border-radius: 10px;
    padding: 30px 20px;
    .device-card-content-wrapper {
        display: flex;
        gap: 24px;

        .device-icon-wrapper {
        }

        .device-card-content {
            .device-name {
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.01em;
                color: #303e49;
                margin-bottom: 12px;
                @include media("<=991px") {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 22px;
                }
            }

            .device-location {
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                letter-spacing: -0.01em;
                color: #303e49;
                margin-bottom: 16px;
                @include media("<=991px") {
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 22px;
                    letter-spacing: -0.01em;
                    margin-bottom: 12px;
                }
            }

            .logged-date {
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #737373;
                @include media("<=991px") {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #737373;
                }
            }

            .logout-device-button {
                a {
                    background: #efb86e;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    border-radius: 5px;
                    padding: 8px 24px;
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 20px;
                    text-align: center;
                    color: #fbf5f0;
                    display: block;
                    text-decoration: none;
                    @include media("<=991px") {
                        background: #fff;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        box-shadow: none;
                        text-align: left;
                        color: #efb86e;
                        padding: 0;
                    }
                }
            }
        }
    }
}
