.my-plan-title-bar {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #175067;
    margin-bottom: 50px;
    @include media("<=991px") {
        margin-bottom: 30px;
    }
}

.plan-box-wrapper {
    padding: 30px;
    border: 1px solid #ECD3B1;
    border-radius: 10px;
    height: 100%;
}

.plan-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    @include media("<=576px") {
        margin-bottom: 8px;
    }

    .plan-card-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: -0.01em;
        color: #303E49;
        @include media("<=576px") {
            font-size: 13px;
            line-height: 20px;
            letter-spacing: -0.01em;
            color: #303E49;
        }
    }
}

.cancel-subscription-button-wrapper {
    //margin-top: 25px;
    a {
        border: 1px solid #FB8B24;
        filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
        border-radius: 5px;
        color: #FB8B24;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-decoration: none;
        padding: 8px 24px;
        display: inline-block;
        @include media("<=576px") {
            font-weight: 500;
            line-height: 18px;
            width: 219px;
            text-align: center;
            font-size: 12px;
        }
    }
}

.plan-type {
    h3 {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: -0.01em;
        color: #FBF5F0;
        margin-bottom: 0;
        @include media("<=576px") {
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
        }
    }
}

.plan-price {
    sup {
        left: 5px;
    }

    h3 {
        font-weight: 600;
        font-size: 24px;
        color: #175067;
        margin-bottom: 0;
        @include media("<=576px") {
            font-size: 16px;
        }

        span {
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 30px;
            text-align: right;
            color: #175067;
            @include media("<=576px") {
                font-size: 16px;
            }
        }
    }
}

.upgrade-plan-button {
    button {
        background: #FFFFFF;
        box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
        border-radius: 5px;
        padding: 8px 24px;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #175067;
        border: none;
        @include media("<=576px") {
            width: 219px;
        }
    }
}

.plan-box-content {
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #737373;
        //margin-bottom: 12px;
        margin-bottom: 20px;
        @include media("<=576px") {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            color: #737373;
        }
    }
}

.premium-body {
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FBF5F0;
        margin-bottom: 20px;
        @include media("<=576px") {
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            //color: #737373;
        }
        //margin-bottom: 20px;
    }
}

.plan-footer {
    padding-bottom: 2rem;
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media("<=991px") {
        .all-form-wrapper {
            .form-check-input {
                &:checked {
                    background-color: #175067;
                    border-color: #175067;
                }

                &:focus {
                    border-color: #175067;
                }
            }
        }
    }

    .form-check-label {
        @include media("<=991px") {
            display: none !important;
        }
    }

    @include media("<=576px") {
        margin-top: 50px;
        padding-bottom: 16px;
    }

    .plan-footer-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #175067;
        @include media("<=576px") {
            font-weight: 600;
            font-size: 15px;
        }
    }

    p {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #7C7C7C;
        margin-top: 16px;
    }
}

.plan-footer-text {
    @include media("<=576px") {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.02em;
        color: #7C7C7C;
    }
}
