@import "../includes/responsive";

.security-settings-wrapper {
    .setting-title-bar-wrapper {
        margin-bottom: 30px;
        padding-bottom: 16px;
        border-bottom: 1px solid #D7E8EF;
        @include media("<=991px") {
            border-bottom: 0;
            margin-bottom: 5px;
        }

        .change-password-title-content {
            @include media("<=991px") {
                margin: 2rem 0;
            }

            h4 {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 30px;
                color: #175067;
                @include media("<=991px") {
                    font-size: 16px;
                }
            }

            p {
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 0;
                color: #7C7C7C;
                @include media("<=991px") {
                    font-size: 14px;
                }
            }
        }
    }

    .change-password-button-wrapper {
        margin-top: 50px;
        margin-bottom: 70px;
        width: 100%;

        .change-password-button {
            width: 100%;
            border: 2px solid #175067;
            border-radius: 5px;
            background: #fff;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #175067;
            padding: 12px;
            @include media("<=991px") {
                //font-weight: 500;
            }
        }
    }

    .activate-switch-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media("<=991px") {
            display: none;
        }
    }

    .generate-key-submit-button {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #F8F8F8;
        background: #175067;
        border-radius: 5px;
        padding: 12px 0px;
        width: 100%;
        border: none;
        @include media("<=991px") {
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-weight: 400;
        }
    }
}
