@import "../includes/responsive";
.signup-body{
    background-color: #fff;
}

/**
SignUp Hero Start
 */

.signup-hero-wrapper{
    height: 414px;
    background: #FBF5F0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h2{
        font-weight: 600;
        font-size: 40px;
        color: #175067;
        line-height: 60px;
        @include media("<=991px"){
        }
        margin-bottom: 24px;
    }
    p{
        font-weight: 300;
        font-size: 24px;
        letter-spacing: 0.015em;
        @include media("<=991px"){

        }
        color: #303E49;
    }
}

/**
SignUp Hero End
 */

/**
signup-section-break
 */

.signup-section-break{
    margin-top: 100px;
    @include media("<=991px"){
        margin-top: 40px;
    }
}

/**
Registration form start
 */

.registration-form-wrapper {
    border: 1px solid #ECD3B1;
    border-radius: 4px;
    padding: 70px 30px;
    margin-bottom: 150px;
    @include media("<=991px"){
        padding: 0;
        border: none;
    }

}

//touch it if you need otherwise leave it

.signup-form-wrapper{
    .input-wrapper{
        margin-bottom: 40px;
        input{
            color: rgba(23, 80, 103, 0.5);
        }
    }
}

/**
Registration form end
 */

//checkbox
.checkbox-wrapper{
    .form-switch{
        .form-check-input{
            width: 44px;
            height: 24px;
            border: 3px solid #175067 ;
            background-size: 12px;
            background-image: url("/image/Auth/toggle_off.svg");
            background-position: 2px;
            &:focus{
                box-shadow: none;
                background-image: url("/image/Auth/toggle_off.svg");
                background-position: 2px;
                background-size: 12px;
            }
            &:active{
                filter: brightness(100%);
                background-image: url("/image/Auth/toggle_off.svg");
                background-position: 2px;
                background-size: 12px;
            }
            &:checked{
                background-color: #fff;
                background-position: 23px;
            }
        }
        label{
            letter-spacing: 0.015em;
            font-weight: 400;
            font-size: 20px;
            color: #00171F;
            margin-left: 20px;
        }
    }
    h2{
        margin-bottom: 40px;
        font-weight: 600;
        font-size: 24px;
        color: #175067;
    }
    .form-check-input{
        border
        &:focus{
            box-shadow: none;
            border-color: #175067;
        }
    }
}

//verification code
.verify_code{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    input{
        height: 72px;
        width: 72px;
        @include media("<=768px"){
            height: 50px;
            width: 50px;
        }
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        border: 1px solid #175067;
        border-radius: 4px;
        outline: none;
        color: #175067;
    }
}

.register_button_wrapper{
    .signup_button{
        width: 310px;
    }
}

.signup_button{
    background: #175067;
    border-radius: 5px;
    padding: 12px 24px 12px 32px;
    gap: 8px;
    border: none;
    color: #F8F8F8;
    font-weight: 600;
    font-size: 16px;
    margin: 60px auto auto;
    width: 492px;
    height: 58px;
    img{
        margin-left: 18px;
    }
}

.signup_button_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.verify_image_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    @include media("<=768px"){
        margin-bottom: 20px;
    }
    img{
        @include media("<=768px"){
            height: 200px;
            width: 200px;
        }
    }
}
.verify_bread_crumb{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 0.015em;
    color: rgba(23, 80, 103, 0.5);
    font-weight: 400;
    font-size: 20px;
    @include media("<=768px"){
        font-size: 16px;
    }

}
.verification_instruction{
    text-align: center;
    letter-spacing: 0.015em;
    font-weight: 400;
    color: #303E49;
    font-size: 18px;
    @include media("<=768px"){
        font-size: 14px;
    }

    margin-bottom: 50px;
    span{
        color: #EFB86E;
        display: inline-block;
    }
}

//auth text

.auth_text{
    color: rgba(23, 80, 103, 0.5);
    letter-spacing: 0.015em;
    font-weight: 400;
    font-size: 16px;
    & a{
        color: #175067;
        font-weight: 600;
        letter-spacing: 0.015em;
        font-size: 16px;
    }
}
