// Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
//responsive
@import "includes/responsive";

body {
    background-color: $primary-bg;
    @include media("<=991px") {
        background-color: #fff;
    }
    font-family: "Poppins", sans-serif;
}

.main-content {
    margin-left: 280px;
    @include media("<=991px") {
        margin-left: 0;
    }
}

//navbar
@import "includes/nav";
//sidebar
@import "includes/sidebar";
//drawer
@import "includes/drawer";
//breadcrumb
@import "components/breadcrumb";
//card
@import "components/card";
//welcome card
@import "components/welcomeCard";
//keep safe card
@import "components/keep-safe-card";
//help card
@import "components/helpCard";
//empty search
@import "pages/search-empty";
// content
@import "includes/content";
//device
@import "pages/device";
//account
@import "pages/account";
//security
@import "pages/security";
//plans
@import "pages/plans";
//billing
@import "pages/billing";
//plan
@import "components/planModal";
//off canvas
@import "includes/offcanvas";
//document
@import "components/document";
//section title
@import "components/section-title";
// add new functionality
@import "components/add-new";
// add new offcanvas
@import "components/ad-new-offcanvas";
.block-min-height {
    min-height: calc(100vh - 345px);
}

.dashboard-section-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #175067;
}

.block-wrapper {
    background: #ffffff;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px;
    margin: 30px 30px 30px 0;
    @include media("<=991px") {
        padding: 0 6px;
        margin: 0;
        box-shadow: none;
    }
}

//header global
.sub-header6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303e49;
}

.sub-header5 {
    //h5 tag
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #175067;
    @include media("<=991px") {
        font-size: 16px;
        line-height: 24px;
    }
}

.sub-header2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #303e49;
    @include media("<=991px") {
        font-weight: 500;
        font-size: 16px;
    }
}

.sub-header3 {
    color: #303e49;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    @include media("<=991px") {
        font-size: 16px;
        line-height: 24px;
    }
}

//form data design
.all-form-wrapper {
    position: relative;
    //password hide/un hide
    .password-eye {
        position: absolute;
        top: 70px;
        right: 0;
        transform: translate(-50%, -50%);
        @include media("<=991px") {
            top: 61px;
        }
    }

    .form-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.015em;
        color: #282a2c;
        @include media("<=991px") {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .form-label-2 {
        color: #7c7c7c;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        @include media("<=991px") {
            font-size: 12px;
            line-height: 18px;
        }
    }

    .form-control {
        padding: 11px 24px;
        border: 1px solid #d7e8ef;
        border-radius: 4px;
        @include media("<=991px") {
            padding: 10px 20px;
        }

        &:focus {
            box-shadow: none;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.015em;
            color: rgba(23, 80, 103, 0.5);
            @include media("<=991px") {
                line-height: 30px;
            }
        }
    }

    .form-check-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        letter-spacing: 0.015em;
        color: #175067;
    }

    .form-check-input {
        &:focus {
            box-shadow: none;
            border-color: #fb8b24;
        }

        &:checked {
            background-color: #fb8b24;
            border-color: #fb8b24;
        }
    }

    .form-select {
        border: 1px solid #d7e8ef;
        border-radius: 4px;
        letter-spacing: 0.015em;
        color: rgba(23, 80, 103, 0.5);
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        padding: 8px 20px;
        @include media("<=991px") {
            padding: 6px 20px;
            font-size: 12px;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .custom-file-upload {
        border: 1px dashed #175067 !important;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(23, 80, 103, 0.5);
        padding: 8px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include media("<=991px") {
            padding: 6px 20px;
            font-size: 12px;
        }

        &:before {
            content: url("/image/content/cloud.svg");
            width: 20px;
            height: 20px;
            margin-right: 10px;
            @include media("<=991px") {
                width: 18px;
                height: 18px;
            }
        }
    }

    //
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }
}

#file-upload {
    display: none;
}

.submit-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #f8f8f8;
    background: #175067;
    border-radius: 5px;
    padding: 12px 0;
    width: 100%;
    @include media("<=991px") {
        font-size: 12px;
        line-height: 18px;
    }

    &:hover {
        background-color: #175067 !important;
        border-color: #175067 !important;
    }
}

//modal
.global-modal {
    .modal-width {
        max-width: 650px;
        @include media("<=991px") {
            max-width: 100%;
            margin: 0;
        }
    }

    .modal-content {
        background: #fbf5f0;
        border-radius: 5px;
        padding: 60px 60px;
        @include media("<=991px") {
            border-radius: 0;
            border: none;
            min-height: 100vh;
            padding: 30px 10px;
        }

        .modal-header {
            border-bottom: none;
            @include media("<=991px") {
                justify-content: flex-start !important;
            }

            button {
                @include media("<=991px") {
                    background: none;
                }

                img {
                    @include media("<=991px") {
                        content: url("/image/global/backIcon.svg");
                        filter: none !important;
                    }
                }
            }
        }

        .modal-body {
            .top-modal-img {
                @include media("<=991px") {
                    content: url("/image/content/modalImgRes.svg");
                }
            }
        }
    }
}

.add-box-modal {
    .modal-content {
        background: #ffffff;

        .close {
            .img-fluid {
                filter: invert(24%) sepia(34%) saturate(1345%) hue-rotate(155deg) brightness(87%) contrast(85%);
            }
        }
    }

    .form-check-input {
        margin-bottom: 4px;
    }
}

.content-modal {
    .modal-content {
        background: #f4fcff;

        .close {
            .img-fluid {
                filter: invert(25%) sepia(12%) saturate(3488%) hue-rotate(153deg) brightness(89%) contrast(85%);
            }
        }

        .submit-btn {
            background: #fb8b24;
            color: #f8f8f8;
            border: none;

            &:hover {
                background-color: #fb8b24 !important;
                border-color: #fb8b24 !important;
            }
        }
    }
}

.file-upload-modal {
    .modal-header {
        position: relative;

        &::before {
            content: '';
            @include media("<=991px") {
                content: 'File Upload';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color: #175067;
            }
        }
    }

    .modal-top-image {
        @include media("<=991px") {
            display: none;
        }
    }
}

//footer
.footer-wrapper {
    height: 65px;
    background: #ffffff;
    box-shadow: 0px -4px 4px rgba(231, 231, 231, 0.25);
    position: sticky;
    bottom: 0;
    z-index: 99;
    @include media("<=991px") {
        display: none;
    }
}
