// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-color: $primary-bg;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    margin-left: 280px;
}

//navbar
@import "includes/nav";
//sidebar
@import "includes/sidebar";
//drawer
@import "includes/drawer";
//breadcrumb
@import "components/breadcrumb";
//card
@import "components/card";
//welcome card
@import "components/welcomeCard";
//keep safe card
@import "components/keep-safe-card";
//help card
@import "components/helpCard";
//empty search
@import "pages/search-empty";
// content
@import "includes/content";
//device
@import "pages/device";
.block-min-height {
    min-height: calc(100vh - 280px);
}

.dashboard-section-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #175067;
}

.block-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    padding: 30px;
    margin: 30px 0px;
}

//header global
.sub-header6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #303E49;
}

.sub-header5 { //h5 tag
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #175067;
}

.sub-header2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #303E49;
}

.sub-header3 {
    color: #303E49;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

//form data design
.all-form-wrapper {
    .form-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.015em;
        color: #282A2C;
    }

    .form-label-2 {
        color: #7C7C7C;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
    }

    .form-control {
        padding: 11px 24px;
        border: 1px solid #D7E8EF;
        border-radius: 4px;

        &:focus {
            box-shadow: none;
        }

        &::placeholder {
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.015em;
            color: rgba(23, 80, 103, 0.5);
        }
    }

    .form-check-label {
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        display: flex;
        align-items: center;
        letter-spacing: 0.015em;
        color: #175067
    }

    .form-check-input {
        &:focus {
            box-shadow: none;
            border-color: #FB8B24;
        }

        &:checked {
            background-color: #FB8B24;
            border-color: #FB8B24;
        }
    }

    .form-select {
        border: 1px solid #D7E8EF;
        border-radius: 4px;
        letter-spacing: 0.015em;
        color: rgba(23, 80, 103, 0.5);
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        padding: 8px 20px;
    }

    .custom-file-upload {
        border: 1px dashed #175067 !important;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        color: rgba(23, 80, 103, 0.5);
        padding: 8px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:before {
            content: url('/image/content/cloud.svg');
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }
}

#file-upload {
    display: none;
}

.submit-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #F8F8F8;
    background: #175067;
    border-radius: 5px;
    padding: 12px 0px;
    width: 100%;

    &:hover {
        background-color: #175067 !important;
        border-color: #175067 !important;
    }
}

//modal
.global-modal {
    .modal-width {
        max-width: 650px;
    }

    .modal-content {
        background: #FBF5F0;
        border-radius: 5px;
        padding: 60px 60px;

        .modal-header {
            border-bottom: none;
        }
    }
}
