// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    background-color: $primary-bg;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    margin-left: 280px;
}

//navbar
@import "includes/nav";
//sidebar
@import "includes/sidebar";


//breadcrumb
@import "components/breadcrumb";

//card
@import "components/card";
