@import "../includes/responsive";

.keep-data-safe-wrapper {
    @include media("<=991px") {
        display: none;
    }

    .slider-card-image-wrapper {
        height: 168px;
    }

    .keep-data-safe-content {
        .keep-safe-header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div {
                &:first-child {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    color: #175067;
                }

                &:last-child {
                    color: rgba(23, 80, 103, 0.5);
                    font-weight: 300;
                    font-size: 16px;
                }
            }
        }

        .safe-slider-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .slider-card-text {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                margin: 1.5rem 0;
                color: #757897;
            }
        }
    }
}
