@import "../includes/responsive";

.plan-modal-wrapper {
    .plan-modal-block {
        max-width: 1140px;
        @include media("<=991px") {
            max-width: 100%;
            margin: 0;
        }

        .modal-content {
            border-radius: 10px;
            border: none;
            @include media("<=991px") {
                border-radius: 0;
                min-height: 100vh;
            }

            .modal-body {
                padding: 0;
                @include media("<=991px") {
                    padding: 30px;
                }

                .res-top-block {
                    display: none;
                    @include media("<=991px") {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 40px;
                        margin-bottom: 30px;
                    }

                    .text-top {
                        @include media("<=991px") {
                            width: 100%;
                            display: grid;
                            grid-template-columns: min-content 1fr;
                        }
                    }

                    button {
                        @include media("<=991px") {
                            background: none;
                            border: none;
                            padding: 0;
                            width: 20px;
                        }
                    }

                    h3 {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 27px;
                        text-align: center;
                        color: #175067;
                        margin-bottom: 0;
                    }

                    .modal-top-icon {
                        min-width: 30%;
                    }
                }

                .top-block {
                    background: #175067;
                    border-radius: 7px 7px 0 0;
                    padding: 100px 60px 60px 60px;
                    display: grid;
                    grid-template-columns: 1fr min-content;
                    grid-template-rows: auto;
                    gap: 80px;
                    @include media("<=991px") {
                        border-radius: 0;
                        background: #ffffff;
                        padding: 0;
                        grid-template-columns: 1fr;
                        gap: 0;
                    }

                    .left-block {
                        @include media("<=991px") {
                            display: flex;
                            flex-direction: column-reverse;
                        }

                        h2 {
                            color: #FBF5F0;
                            font-weight: 600;
                            font-size: 28px;
                            line-height: 42px;
                            display: flex;
                            align-items: center;
                            margin-bottom: 15px;
                            @include media("<=991px") {
                                font-size: 15px;
                                line-height: 22px;
                                color: #175067;
                                margin-bottom: 0;
                                border-bottom: 1px solid #ECD3B1;
                                padding-bottom: 10px;
                                justify-content: space-between;
                            }

                            span {
                                color: #FFFFFF;
                                font-weight: 600;
                                font-size: 12px;
                                line-height: 20px;
                                padding: 5px 10px;
                                border: 1px solid #ffffff;
                                margin-left: 15px;
                                border-radius: 5px;
                                @include media("<=991px") {
                                    font-size: 10px;
                                    line-height: 15px;
                                    color: #175067;
                                    border: 1px solid #175067;
                                    padding: 2px 8px;
                                }
                            }
                        }

                        h3 {
                            color: #EFB86E;
                            font-weight: 500;
                            font-size: 32px;
                            line-height: 48px;
                            margin-bottom: 40px;
                            display: flex;
                            align-items: center;
                            @include media("<=991px") {
                                font-size: 18px;
                                line-height: 26px;
                                margin-bottom: 10px;
                            }

                            span {
                                font-weight: bold;
                            }
                        }

                        .list-block {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 40px;
                            @include media("<=991px") {
                                display: none;
                            }

                            .details-block {
                                display: flex;
                                align-items: center;
                                gap: 20px;

                                p {
                                    color: #FFFFFF;
                                    font-weight: 300;
                                    font-size: 14px;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    margin-bottom: 0;
                                    width: 70%;

                                    span {
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }

                    .right-block {
                        width: 350px;
                        padding: 30px 20px;
                        border-radius: 7px;
                        background: #ffffff;
                        @include media("<=991px") {
                            width: 100%;
                            padding: 20px 0;
                        }

                        .top-sec {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            justify-content: space-between;
                            border-bottom: 1px solid #ECD3B1;
                            padding-bottom: 15px;
                            margin-bottom: 30px;
                            @include media("<=991px") {
                                display: none;
                            }

                            h4 {
                                letter-spacing: -0.02em;
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 24px;
                                color: #303E49;
                                margin-bottom: 0;
                            }

                            span {
                                cursor: pointer;
                            }
                        }

                        .form-label {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 20px;
                            margin-bottom: 0.5rem;
                            color: #282A2C;
                        }

                        .form-control {
                            padding: 7px 15px;

                            &::placeholder {
                                letter-spacing: 0.015em;
                                font-weight: 300;
                                font-size: 12px;
                                line-height: 18px;
                                color: rgba(23, 80, 103, 0.5);
                            }
                        }

                        .submit-btn {
                            border: none;
                        }
                    }
                }

                .bottom-block {
                    background: #ffffff;
                    border-radius: 0 0 7px 7px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto;
                    padding: 30px 60px;
                    gap: 50px;
                    @include media("<=991px") {
                        display: none;
                    }

                    .testimonial {
                        display: grid;
                        grid-template-columns: min-content 1fr;
                        grid-template-rows: 1fr min-content;
                        column-gap: 20px;

                        .avatar {
                            border: 4px solid #FBF5F0;
                            border-radius: 50%;
                            height: 56px;
                            width: 56px;

                            img {
                                height: 100%;
                                width: 100%;
                                border-radius: 50%;
                            }
                        }

                        p {
                            font-weight: 400;
                            font-size: 13px;
                            line-height: 20px;
                            letter-spacing: 0.03em;
                            color: #7C7C7C;
                            display: flex;
                            align-items: flex-start;
                            gap: 10px;

                            &:before {
                                content: '';
                                height: 20px;
                                width: 20px;
                                background-image: url("/image/global/planIcon1.svg");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: contain;
                            }
                        }

                        h3 {
                            color: #303E49;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 22px;
                            grid-column: 2;
                            margin-left: 22px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.exp {
    height: 39px !important;
}

//cancel plan modal
#cancelPlan {
    @include media("<=991px") {
        .modal-header {
            &::before {
                content: "Cancel Plan";
            }
        }
    }

    .modal-content {
        padding: 40px 40px !important;
    }

    .modal-dialog {
        max-width: 770px;
    }

    .cancel-plan-modal {

        h2 {
            text-align: center;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.015em;
            color: #3A494E;
            margin-bottom: 50px;
        }

        .form-check {
            margin-bottom: 24px;

            label {
                font-weight: 400;
                font-size: 18px;
                color: #282A2C;
                opacity: 0.8;
                margin-left: 18px;
            }

            .form-check-input {
                height: 20px;
                width: 20px;
                border: 2px solid #175067;
                border-radius: 1px;

                &:focus {
                    box-shadow: none;
                    border-color: #175067;
                }

                &:checked {
                    border-color: #175067;
                    background-color: transparent;

                }
            }

            .form-check-input:checked[type=checkbox] {
                background-image: url("/image/plans/check_box.svg");
                background-size: 15px;
            }
        }
    }
}



.update_plan_page{
    border-radius: 0 !important;
}
