@import "../includes/responsive";
// add drawer
.drawer-add-wrapper {
    margin: 0px;
    @include media("<=991px") {
        padding: 20px 6px;
        margin: 0;
        box-shadow: none;
        flex-direction: column-reverse;
        border-radius: 0;
        background: transparent;
    }



    .items-block {
        padding: 20px 50px 30px 20px;
        @include media("<=991px") {
            padding: 20px 6px;
            margin: 0;
            box-shadow: none;
            flex-direction: column-reverse;
            border-radius: 0;
            background: transparent;
        }

        &:first-child {
            border-right: 1px solid #ecd3b1;
            @include media("<=991px") {
                border-right: 0;
            }
        }

        &:last-child {
            padding-left: 50px;
            @include media("<=991px") {
                padding-left: 0;
            }
        }
    }

    .add-wrap-right {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex-direction: column;

        h5 {
            color: #fb8b24;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
        }

        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            color: #303e49;
        }
    }
}

// index
.wrapper-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    gap: 30px;
    @include media("<=991px") {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0;
    }
}

