@import "../variables";

.primary-nav {
    height: 100px;
    position: sticky;
    top: 0;
    box-shadow: $shadow;

    .navbar-nav {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}
